@model IEnumerable<TQuocGium>

@* <!-- MENU QUỐC GIA -->
<ul class="menu-quocgia">
    @foreach (var qg in ViewBag.DanhSachQuocGia)
    {
        <li>
            <a asp-action="Index" asp-route-maNuoc="@qg.MaNuoc">@qg.TenNuoc</a>
        </li>
    }
</ul> *@
@foreach (var item in ViewBag.DanhSachQuocGia)
{
    var getUrl = "https://localhost:7049/api/productapi/quocgia/" + item.MaNuoc;
    <li>
        <a style="cursor:pointer" onclick="showProductsByCountry('@getUrl')">@item.TenNuoc</a>
    </li>
}


<script>
    function showProductsByCountry(getUrl){
         var str='';
         $.ajax({
             type:'GET',
             url:getUrl,
             dataType:'json',
             success:function(data){
                 $.each(data,function(key,val){
                     // str+='<p>' +val.tenSp+'</p>'
                   str += '<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">';
                   str += '<div class="featured__item">';
                   str += '<div class="featured__item__pic set-bg" data-setbg="';
                   var linkImage = "/ImagesWebBanVali/" + $.trim(val.anhDaiDien);
                   str += linkImage;
                   str += '" style="background-image: url(&quot;';
                   str += linkImage;
                   str += '&quot;)">';
                   str += '<ul class="featured__item__pic__hover">';
                   str += '<li><a href="#"><i class="fa fa-heart"> </i></a> </li>';
                   str += '<li><a href="#"><i class="fa fa-retweet"> </i></a> </li>';
                   str += '<li><a href="#"><i class="fa fa-shopping-cart"> </i></a> </li>';
                   str += '</ul></div>';
                   str += '<div class="featured__item__text">';
                   str += '<h6><a href="/Home/ProductDetail?maSp=';
                   str += $.trim(val.tenSp);
                   str += '\">';
                   str += $.trim(val.tenSp);
                   str += '</a></h6><h5>';
                   str += val.giaNhoNhat.toString();
                   str += '</h5></div></div></div>';


                 });
                 $('#displayproduct').html(str);
             },
             error :function(xhr){
                 alert(xhr.responseText)
             }
         });
    }
</script>
